  <style> 
        .captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(browser-icons.png);
        }
        .slider2_containerstyle{
        	position: relative;
        	width: 600px;
        	height: 300px;
        }
        .loading{
        	position: absolute; 
        	top: 0px; 
        	left: 0px;
        }
        .filterstyle{
        	filter: alpha(opacity=70); 
        	opacity:0.7; 
        	position: absolute; 
        	display: block;
            background-color: #000; 
            top: 0px; 
            left: 0px;
            width: 100%;
            height:100%;
        }
        .loadingstyle{
        	position: absolute; 
        	display: block; 
        	background: url(loading.gif) no-repeat center center;
          	top: 0px; 
          	left: 0px;
          	width: 100%;
          	height:100%;
        }
        .containerstyle{
        	cursor: move; 
        	position: absolute; 
        	left: 0px; 
        	top: 0px; 
        	width: 770px; 
        	height: 410px;
            overflow: hidden;
        }

        /*.jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)*/
        
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
        {
            filter: alpha(opacity=70);
            opacity: .7;
            overflow:hidden;
            cursor: pointer;
            border: #000 1px solid;
        }
        .jssorb01 div { 
        	background-color: gray; 
        }
        .jssorb01 div:hover, .jssorb01 .av:hover { 
        	background-color: #d3d3d3; 
        }
        .jssorb01 .av { 
        	background-color: #fff; 
        }
        .jssorb01 .dn, .jssorb01 .dn:hover { 
        	background-color: #555555; 
        }
        .navigatorstyle{
        	position: absolute;
            bottom: -107px;
            right: -168px
        }
        .prototypestyle{
        	position: absolute; 
        	width: 12px; 
        	height: 12px;
        }
        /*.leftarrow{
        	width: 40px; 
        	height: 40px; 
        	top: 123px; 
        	left: 8px;
        }
        .rightarrow{
        	width: 40px; 
        	height: 40px; 
        	top: 123px; 
        	right: 8px
        }*/

      /*  .jssora05l              (normal)
        .jssora05r              (normal)
        .jssora05l:hover        (normal mouseover)
        .jssora05r:hover        (normal mouseover)
        .jssora05ldn            (mousedown)
        .jssora05rdn            (mousedown)*/
        
        .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
        {
        	position: absolute;
        	cursor: pointer;
        	display: block;
            background: url(a17.png) no-repeat;
            overflow:hidden;
        }
        .jssora05l { 
        	background-position: -10px -40px; 
        }
        .jssora05r { 
        	background-position: -70px -40px; 
        }
        .jssora05l:hover { 
        	background-position: -130px -40px; 
        }
        .jssora05r:hover { 
        	background-position: -190px -40px; 
        }
        .jssora05ldn { 
        	background-position: -250px -40px; 
        }
        .jssora05rdn { 
        	background-position: -310px -40px; 
        }
    </style>