#varticalmenu{
	margin-top:20px !important;
  color: #ffffff;
}

#varticalmenu,
#varticalmenu ul,
#varticalmenu ul li,
#varticalmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#varticalmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#varticalmenu > ul > li > a {
  border-left: 1px solid #0b1f5b;
  border-right: 1px solid #0b1f5b;
  border-top: 1px solid #0b1f5b;
  z-index: 2;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  padding: 5.5px 10px;
  
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);*/
  
  /*background: #00843B;/*4a5f72;*/*/
   /*opacity: 0.5;*/
  background: -webkit-linear-gradient(#05863F, #05863F);
  background: -moz-linear-gradient(#05863F, #05863F);
  background: -o-linear-gradient(#05863F, #05863F);
  background: -ms-linear-gradient(#05863F, #05863F);
  background: linear-gradient(#05863F, #05863F);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#varticalmenu > ul > li > a:hover,
#varticalmenu > ul > li.active > a,
#varticalmenu > ul > li.open > a {
  color: #eeeeee;
  background: #00843B;/*4173A1*/
  background: -webkit-linear-gradient(#58C386, #05863F);
  background: -moz-linear-gradient(#58C386, #05863F);
  background: -o-linear-gradient(#58C386, #05863F);
  background: -ms-linear-gradient(#58C386, #05863F);
  background: linear-gradient(#58C386, #05863F);
}
#varticalmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #4173A1;
}
#varticalmenu > ul > li:last-child > a,
#varticalmenu > ul > li.last > a {
  border-bottom: 1px solid #4173A1;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#varticalmenu > ul > li > a:hover > span::after,
#varticalmenu > ul > li.active > a > span::after,
#varticalmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#varticalmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 15px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#varticalmenu ul ul li:hover > a,
#varticalmenu ul ul li.open > a,
#varticalmenu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#varticalmenu ul ul li:first-child > a {
  box-shadow: none;
}
#varticalmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#varticalmenu ul ul ul li a {
  padding-left: 30px;
}
#varticalmenu > ul > li > ul > li:last-child > a,
#varticalmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#varticalmenu > ul > li > ul > li.open:last-child > a,
#varticalmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#varticalmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#varticalmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#varticalmenu ul ul li.active > a::after,
#varticalmenu ul ul li.open > a::after,
#varticalmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}
